@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}


.alegreya {
  font-family: 'Alegreya', serif;
}

/* global.css or a component CSS file */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(15, 42, 82, 0.25);
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #22D3EE;
  border-radius: 9999px;
  border: 1px solid rgba(10, 14, 39, 0.6);
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #0EA5B7;
}

/* Firefox */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #22D3EE rgba(15, 42, 82, 0.25);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);  
    }
}
.web-fade-in {
    opacity: 0; 
    animation: fadeIn 0.8s ease-out forwards;
}
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
